.nav, li {
list-style-type:none; 
display:inline-block;
margin: 0%;
padding: 0%;
}

li, a {
    padding-right:0.2cm;
    text-decoration:none;
    color:yellow;

}

.nav {
    top: 0%;
    left: 0%;
    background-color:black;
    width: 100%;
    position: fixed;
}

a:hover {
    background-color:purple;
    padding:0.2cm;
}

body {
    background-color:green; 
    font-family: Verdana;
}

.mytitle {
    text-align: center;
}