.nav, li {
list-style-type:none; 
display:inline-block;
margin: 0%;
padding: 0%;
}

li, a {
    padding-right:0.2cm;
    text-decoration:none;
    color:yellow;

}

.nav {
    top: 0%;
    left: 0%;
    background-color:black;
    width: 100%;
    position: fixed;
}

a:hover {
    background-color:purple;
    padding:0.2cm;
}

body {
    background-color:darkolivegreen; 
    font-family: Verdana;
}

header   {
        background-color:blueviolet;
        padding:1%;
        width: 65%;
        display:inline-block;
        border-radius:1cm;
        margin-top: 0.5cm;
        margin-left:5cm;
}

.myform {
    position:absolute;
    right:8cm;
    top:5.5cm;
    background-color:rgb(0,0,0);
    padding:8%;
    border-radius:5cm;
}

.mydata {
    width:100%;
    font-size:1cm;
    background-color: royalblue;
    color:yellow;
    border-radius: 0.7cm;
}

.mybutton {
    background-color: tomato;
    margin-left:40%;
    margin-top: 4%;
    font-size: 0.6cm;
    border-radius: 1cm;
}

#myDiv {
    position: absolute;
    top:2cm;
    right: 0.5em;
    display: none;
}

.days {
    background-color:purple;
    border-top:5px solid greenyellow;
    border-bottom: 5px solid greenyellow;
    border-left: 5px solid red;
    border-right: 5px solid red;
    color:yellow;
    border-radius:1cm;
    padding:5px;
    font-size: 0.5cm;    

}

#mypayment {
    display: none;
    position: fixed;
    bottom: 0;
    right: 7cm;
}

#thepayment {
    display: none;
    color:white;
    
}


.payment, input, button {
    font-size:0.5cm;
    color:white;
    color:black
}
.payment {
    display:inline-block;
    background-color:black;
    padding: 0.75cm;
    border-radius: 1cm;
    color:white;
    
}

.payment button {
    background-color:red;
}

#myresult{
    position:fixed;
    bottom: 0;
    right: 23cm;
}


#mydata{
    position:fixed;
    bottom: 0;
    right: 16cm;
}

#days {
    position: fixed;
    bottom:0;
}

.contactme {
    position: relative;
    top: 3cm;
    font-size:1cm;
    background-color:rgb(80, 100, 150);
    display: inline-block;
    padding:1cm;
    border-radius:3cm;
    color:yellow;
}

.aboutme {
    position:relative;
    top: 3cm;
    font-size:1cm;
    background-color:rgb(80, 100, 150);
    display: inline-block;
    padding:5%;
    border-radius:3cm;
    color:yellow;
    width: 80%;
    text-align:center;
    margin-left: 1.8cm;
    z-index: -1;
}
