.nav, li {
list-style-type:none; 
display:inline-block;
margin: 0%;
padding: 0%;
}

li, a {
    padding-right:0.5cm;
    text-decoration:none;

}

.nav {
    background-color:black;
    width: 100%;
    position: fixed;

}



body {
    background-color:green;
}